name: Deploy to Infinityfree
on: 
    push:
        branches:
            - main
jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
            uses: actions/checkout@v4
            
            - name: Deploy via FTP
            uses: SamKirland/FTP-Deploy-Action@4.3.4
            with:
                server: ${{secrets.FTP.SERVER}}
                username: ${{secrets.FTP_USERNAME}}
                password: ${{secrets.FTP_PASSWORD}}
                server-dir: /htdocs/
